<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Doctor Appointments</title>

<link rel="stylesheet"
      th:href="@{/css/style.css}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="page-header">

    <div>

        <h1>
            <i class="fas fa-calendar-check"></i>
            My Appointments
        </h1>

        <p>
            View all appointments
        </p>

    </div>

    <a href="/doctor/dashboard"
       class="btn btn-primary">

        Back Dashboard

    </a>

</div>

<div class="table-card">

<table class="doctor-table">

<thead>

<tr>
    <th>ID</th>
    <th>Patient</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
</tr>

</thead>

<tbody>

<tr th:each="a : ${appointments}">

    <td th:text="${a.id}"></td>

    <td th:text="${a.patientName}"></td>

    <td th:text="${a.appointmentDate}"></td>

    <td th:text="${a.appointmentTime}"></td>

    <td th:text="${a.appointmentStatus}"></td>
    <td>
    <a th:if="${a.appointmentStatus == 'Pending'}"
           th:href="@{/doctor/confirm/{id}(id=${a.id})}"
           class="btn btn-success">

            Confirm

        </a>
        </td>

</tr>

</tbody>

</table>

</div>

</body>
</html>