<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Appointment</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="form-container">

    <h2>Edit Appointment</h2>

   <form th:action="@{/updateAppointmentReception}"
      th:object="${appointment}"
      method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{appointmentId}">
<input type="hidden" th:field="*{tokenNumber}">
<input type="hidden" th:field="*{appointmentDate}">
<input type="hidden" th:field="*{appointmentTime}">
        <div class="form-group">
            <label>Appointment ID</label>
            <input type="text"
                   th:field="*{appointmentId}"
                   class="form-control"
                   readonly>
        </div>

        <div class="form-group">
            <label>Patient Name</label>
            <input type="text"
                   th:field="*{patientName}"
                   class="form-control">
        </div>

        <div class="form-group">
            <label>Doctor Name</label>
            <input type="text"
                   th:field="*{doctorName}"
                   class="form-control">
        </div>

        <div class="form-group">
            <label>Appointment Date</label>
             <p>
    Date:
    <span th:text="${appointment.appointmentDate}"></span>
        <input type="hidden" th:field="*{appointmentDate}">
    
</p>
                   
        </div>

        <div class="form-group">
            <label>Appointment Time</label>
             <p>
    Time:
    <span th:text="${appointment.appointmentTime}"></span>
 <input type="hidden" th:field="*{appointmentTime}">
</p>
                   
        </div>

        <div class="form-group">
    <label>Patient Condition</label>

    <select th:field="*{patientCondition}"
            class="form-control">

        <option value="Normal">Normal</option>
        <option value="Serious">Serious</option>
        <option value="Critical">Critical</option>

    </select>
</div>

<div class="form-group">
    <label>Appointment Status</label>

    <select th:field="*{appointmentStatus}"
            class="form-control">

        <option value="Pending">Pending</option>
        <option value="Confirmed">Confirmed</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>

    </select>
</div>

        <button type="submit"
                class="btn btn-primary">
            Update Appointment
        </button>

        <a href="/reception/dashboard"
           class="btn btn-danger">
            Cancel
        </a>

    </form>

</div>

</body>
</html>