<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hospital Reports</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<div class="patient-page">

    <div class="page-header">

        <div>
            <h1>
                <i class="fas fa-chart-bar"></i>
                Hospital Reports
            </h1>

            <p>Generate and download hospital reports</p>
        </div>

        <div class="header-actions">
            <a href="/dashboard"
               class="btn btn-primary">
                ← Dashboard
            </a>
        </div>

    </div>

    <div class="stats-grid">

        <div class="stat-card">
            <h3>Total Patients</h3>
            <h1 th:text="${patientCount}"></h1>
        </div>

        <div class="stat-card">
            <h3>Total Doctors</h3>
            <h1 th:text="${doctorCount}"></h1>
        </div>

        <div class="stat-card">
            <h3>Total Appointments</h3>
            <h1 th:text="${appointmentCount}"></h1>
        </div>

        <div class="stat-card">
            <h3>Total Bills</h3>
            <h1 th:text="${billCount}"></h1>
        </div>

        <div class="stat-card">
            <h3>Total Revenue</h3>
            <h1>
                ₹ <span th:text="${totalRevenue}"></span>
            </h1>
        </div>

    </div>

    <div class="table-card">

        <h2>Download Reports</h2>

        <br>

        <a href="/reports/pdf"
           class="btn btn-danger">
            Download PDF Report
        </a>

    </div>

</div>

</body>
</html>